<!doctype html>
<html>
<body>
  <h2>Twitter<h2>
  <ul>
    <li>
      <a href="/login.html">Sign In</a>
    </li>
    <li>
      <a href="/register.html">Register</a>
    </li>
  </ul>
</body>
</html>