<h3>Welcome to nanoTwitter!</h3>
<form action="/submitLogin" method="POST">
	<input type="text" name="email" value="Your email" />
	<input type="password" name="password">
	<input type="submit" value="Submit" />
</form>