<h3>Create random follows</h3>
<p><%=@random_users.count%> users were used to create new follows relationships. In total, <%=@no_of_follows_created%> new follows relationships were created. This took <%=@create_time%> seconds </p>
Back to <a href="/">main</a> 