.page-header {
  padding-top: 30px;
}

.navbar-default {
  border-bottom: 1px solid rgba(0,0,0,0.15);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.14902);
}

.navbar-container {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.navbar {
  z-index: 9999;
}

#tweet_writing_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-tabs-search {
  text-align: center;
}

.nav-tabs-search>li {
  float: none;
  display: inline-block;
}

.tweet_content {
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 400px;
}

.profile-nav {
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 20px;
}

.win, .win-shadow{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}

.win {
  z-index: 10;
}

.win-shadow {
  background-color: rgba(0,0,0,.5);
  z-index: 2;
}

.win-box {
  top: 30%;
  position: absolute;
  left: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, 0);
  max-width: 480px;
  z-index: 3;
}

.tweet_button {
  font-size: 18px;
}