.page-header {
  padding-top: 30px;
}

.navbar-container {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.navbar {
  z-index: 9999;
}

#tweet_writing_box {
  margin-top: 20px;
  margin-bottom: 20px;
}