<div class="row profile-nav">
  <div class="col-md-12">
    <div class="btn-group">
      <button class="btn btn-link active" type="button">Tweet</button>
      <button class="btn btn-link" type="button">Likes</button>
      <button class="btn btn-link" type="button">Followings</button>
      <button class="btn btn-link" type="button">Followers</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">

    <% size = time_line.length %>
    <% Util = require('Util'); %>
    <% for (var i = size-1; i >=0; i--) { %>
    <% tweet = time_line[i] %>
    <div class="media well">
       <a class="pull-left"><img alt="Bootstrap Media" src="/images/default_photo.png" class="media-object img-rounded"></a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= tweet.user_name %>
        </h4> 
        <p class="tweet_content"><%= tweet.content %></p>
        <div class="box box-element" style="display: block;">
          <%=Util.get_time_distance(tweet.create_time, Date.now()) %>
          <div class="view pull-right">
            <div class="btn-group">
              <button class="btn btn-default reply" type="button">Reply</button>
              <button class="btn btn-default likes " type="button">Likes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>