<div class="row">
  <div class="col-md-12">
        <div class="col-sm-12" id="tweet_writing_box">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="What's happening?" id="tweet_content">
          </div> 
            <button id="tweet_submit"  class="col-sm-2 btn btn-default pull-right" disabled="disabled">Post</button>
        </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <% size = home_line.length %>
    <% Util = require('Util'); %>
    <% for (var i = size-1; i >=0; i--) { %>
    <% tweet = home_line[i] %>
    <div class="media well">
       <a class="pull-left"><img alt="Bootstrap Media" src="images/default_photo.png" class="media-object img-rounded"></a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= tweet.user_name %>
        </h4> 
        <p class="tweet_content"><%= tweet.content %></p>
        <div class="box box-element" style="display: block;">
          <%=Util.get_time_distance(tweet.create_time, Date.now()) %>
          <div class="view pull-right">
            <div class="btn-group">
              <button class="btn btn-default reply" type="button">Reply</button>
              <button class="btn btn-default likes " type="button">Likes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>

  </div>
</div>