<div class="row">
  <div class="col-md-12">
        <div class="col-sm-12" id="tweet_writing_box">
          <div class="col-sm-10">
            <textarea class="form-control" placeholder="What's happening?" id="tweet_content"></textarea>
          </div> 
          <div class="col-sm-2" style="padding-left:0px;padding-right:0px">
            <button id="tweet_submit"  class="btn btn-default" disabled="disabled" style="width:100%;">Post</button>
            <p style="width:100%;text-align:center;padding-top:5px" id="tweet_length">0/140</p>
          </div>
        </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <% size = home_line.length %>
    <% Util = require('Util'); %>
    <% for (var i = size-1; i >=0; i--) { %>
    <% tweet = home_line[i] %>
    <div class="media well" tweetid=<%=tweet.id%> userid=<%=tweet.user_id%> username=<%=tweet.user_name%>>
       <a class="pull-left"><img alt="Bootstrap Media" src="images/default_photo.png" class="media-object img-rounded"></a>
      <div class="media-body">
        <a href="/users/<%= tweet.user_id%>">
          <h4 class="media-heading"><%= tweet.user_name %></h4> 
        </a>
        <p class="tweet_content"><%= tweet.content %></p>
        <div class="box box-element" style="display: block;">
          <%=Util.get_time_distance(tweet.create_time, Date.now()) %>
          <div class="view pull-right">
            <div class="btn-group">
              <button class="btn btn-default reply" type="button">Reply</button>
              <button class="btn <%=tweet.is_favored ? "btn-primary" : "btn-default"%> likes" type="button">Likes <%=tweet.favors > 0 ? tweet.favors : ""%></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>

  </div>
</div>

<div class="win" style="display:none;" id="global_tweet">
  <div class="win-shadow"></div>
  <div class="win-box">
    <div class="media well">
      <div class="media-body">
        <h5 id="global_tweet_title"></h5>
        <textarea style="width:100%; margin-top: 10px; height: 70px" id="global_tweet_content" placeholder="What's happening?"></textarea>
        <button class="btn btn-link pull-right" type="button" id="global_tweet_tweet">Tweet</button>
        <button class="btn btn-link pull-right" type="button" id="global_tweet_cancel">Cancel</button>
      </div>
    </div>
  </div>
</div>
