<h3>Create random followers for given user</h3>
<p>User with ID <%=@user_id%> received <%=@no_of_follows_created%> new followers. This took <%=@create_time%> seconds </p>
Back to <a href="/">main</a> 