<h3>Reset all!</h3>
<p>All users and relationships were destroyed. It took <%=@reset_time%> seconds </p>
<p>Test user was created. Currently, it is the only user on system.</p>
<script>document.cookie = "access_token="
 </script>

 Back to <a href="/">main</a> 