<h3>create standard seed data</h3>
<p><%=@total_users_created%> users were created.</p>
<p><%=@no_of_follows_created%> following relationships were created.</p>
<p><%=@total_tweets_created%> tweets were created</p> 
<p>This only took <%=@reset_time%> seconds!!</p>
Back to <a href="/">main</a> 