<h3>Current status</h3>
<p>There are <%=@number_of_users%> users on the system </p>
<p>With a total number of  <%=@number_of_follows%> follows </p>
<p>And  <%=@number_of_tweets%> tweets </p>
<!--<p>The user_id for testuser is  <%=@test_user_id%>  </p>-->
Back to <a href="/">main</a> 
